.show-lines {
    stroke-dasharray: 100%;
    animation: showLines 3s linear 1.5s forwards;
}

/* .hover-shadow:hover {
    box-shadow: 0px 0px 10px 0px #FFD700;
} */

.before::before {
    content: "";
    display: block;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            #fee152 50%,
            rgba(255, 255, 255, 0) 100%);
    height: 300px;
    width: 70px;
    transform: translate(0);
    position: absolute;
    animation: rotate 5s linear forwards infinite;
    z-index: 0;
    top: 50%;
    transform-origin: top center;
}

/* .before:hover {
    animation: rotate 2s linear forwards infinite;
} */

@keyframes showLines {
    0% {
        stroke-dashoffset: 0%;
    }

    100% {
        stroke-dashoffset: 100%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}