.link_1 {
    width: 33%;
    height: 19%;
    right: 0;
    top: 9%;
    position: absolute;
    cursor: pointer;
}

.link_2 {
    width: 29%;
    height: 19%;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 36%;
}

.link_3 {
    cursor: pointer;
    width: 35%;
    height: 20%;
    position: absolute;
    right: 0;
    top: 71%;
}

.path {
    stroke-width: 3px;
    stroke: url('#gradient-1');
    paint-order: fill;
    fill: rgb(17, 17, 17);
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;   
    animation: show-on-lines 4s linear forwards;
}

.text_1 {
    /* fill: rgb(255, 205, 2); */
    font-family: 'vazir', sans-serif;
    font-size: 22px;
    line-height: 40.7705px;
    text-anchor: middle;
    white-space: pre;
}

.text_2 {
    /* fill: rgb(255, 205, 2); */
    font-family: 'vazir', sans-serif;
    font-size: 21.9231px;
    line-height: 35.0769px;
    white-space: pre;
    text-anchor: middle;
}

.text_3 {
    /* fill: rgb(255, 205, 2); */
    font-family: 'vazir', sans-serif;
    font-size: 16px;
    line-height: 39.0425px;
    text-anchor: middle;
    white-space: pre;
}

@keyframes show-on-lines {
    0% {
        stroke-dashoffset: 100%;
    }

    100% {
        stroke-dashoffset: 0%;
    }
}