.stroke-animation {
    stroke-dasharray: 100%;
    animation: showLines 4s 1s linear forwards;
}

.ellipse-animation {
    stroke-dasharray: 100%;
    animation: showLines 2s linear 1.5s forwards;
}

@keyframes showLines {
    0% {
        stroke-dashoffset: 0%;
    }

    100% {
        stroke-dashoffset: 100%;
    }
}

/* .shadow-right{
    box-shadow: '10px 0 10px -5px rgba(255, 255, 255, 0.5)';
} */


    /* .animate-up-down {
        animation: up-down 2s ease-in-out infinite;
    }

    @keyframes up-down {
        0% {
            margin-bottom: 0px;
        }

        25%{
            margin-bottom: 5px;
        }

        50% {
            margin-bottom: 0px;
        }

        75%{
            margin-bottom: -5px;
        }

        100% {
            margin-bottom: 0px;
        }
    } */