.skills_container {
    display: grid;
    grid-template-columns: 85% 15%;
    justify-content: end;
    height: 97vh;
}

.ol {
    direction: rtl;
    list-style: disc;
    margin-right: 4rem;
}

.li {
    color: rgb(250 204 21);
    font-size: 14px;
    font-weight: lighter;
    text-align: right;
    margin-top: 0.5rem;
    animation: li_movement 0.5s ease-in-out 1 forwards;
}

.title_div {
    margin-top: 20px;
    text-align: center;
    color: rgb(250 204 21);
    padding-bottom: 15px;
}

.title_div::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
    border: 1px solid goldenrod;
    width: 50%;
}

@keyframes li_movement {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}