@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --linear-color: linear-gradient(to right, #D8B003, #FFE900)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "vazir";
  src: url(../../../public/fonts/Vazir-Medium.woff2)format("woff2"),
    url(../../../public/fonts/Vazir-Medium.woff)format("woff");
}

html {
  font-family: "vazir", sans-serif;

}

body {
  box-sizing: border-box;
  font-family: "vazir", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

.bg-222 {
  background-color: #111;
}

.logo-path {
    stroke-width: 3px;
    stroke: url('#gradient-0');
    fill: rgb(17, 17, 17);
    stroke-dasharray: 255%;
    stroke-dashoffset: 0%;
    animation: show-logo 5s linear forwards;
}

@keyframes show-logo {
    0% {
        stroke-dashoffset: 255%;
    }

    100% {
        stroke-dashoffset: 0%;
    }
}